{% extends 'blog/base3.html' %}

{% block content %}
<html>

<head>
<img class="app-graph"
  <br>


<h1>Bem vindo ao fim da contabilidade mais ou menos on-line!</h1>

<br>
<br>

<p><strong>Sua empresa merece o melhor</strong><img src="http://clickwings.econobilidade.com/static/images/new-york-1819861_960_720.jpg"height="480" width="480"  align="top"> <strong></p>

<h4>Aqui voce ganha facilidade e nossos algoritmos automatizam tudo e te ajudam nas tomadas de decisao, ate o diretor financeiro vem junto pra te ajudar!</h4>

<br>

<div class="container">
                <div class="row">

                <div class="col-sm-12 text-center">
                        <h3>Migrar seu negócio para #econobilidade é muito simples!</h3>
                    </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="feature boxed feature-1">
                        <i class="icon icon-ID-Card"></i>
                        <h5>1. O que você precisa agora?</h5>
                        <p>Para iniciar a transferência precisamos apenas que preencha o formulario com a opçao escolhida na página principal <br></p>
                        <p>Nossos planos partem de 49,90 com tudo incluso!</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="feature boxed feature-1">
                        <i class="icon icon-Upload-toCloud"></i>
                        <h5>O que vai acontecer em seguida?</h5>
                        <p>Sua empresa vai receber um dominio na internet "suaempresa.econobilidade.com" para que todas as suas informacoes fiquem realmente seguras.<br>2.
                          Os primeiros 90 dias sao por nossa conta, ou seja, ajudamos voce e nada de pegadinhas e contratos complicados, fique satisfeito, sem carências abusivas de 12 meses!<br></p>
                        <p>Nada de contabilidade mais ou menos on-line, voce faz o upload de seus extratos e notas e pronto, fim, declaracoes e contabilidade ja estao prontas e analisadas por algoritmos de inteligencia artificial com revisao adicional de contadores experientes!</p>
                    </div>
                </div>

            </div>


  </html>


{% endblock %}
