{% extends 'blog/base3.html' %}

{% block content %}


<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Obrigado por se tornar cliente. Voce tem 3 meses gratuitos, nao queremos seu cartao e nenhuma informacao financeira. Queremos que use ao maximo este serviço e aproveite a verdadeira contabilidade on-line</strong> Para maiores informaçoes envie e-mail para nosso Customer Service.</p>
  <hr>
  <p>
    Voce vai receber o endereço do seu projeto em 24 horas <a href="https://econobilidade.com">Clique aqui para continuar nos conhecendo</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="https://nexthinking.com" role="button">Conheça melhor a <strong>neXThinking</strong> e entenda como a inteligencia artificial vai mudar a gestao da sua empresa!</a>

<h1>{{yes}}</h1>
  </p>
</div>


{% endblock %}
